<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DIU</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Daffodil[GTX]", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                     
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Department
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Department", "Create", "Departments")</li>
                            <li>@Html.ActionLink("View All Departments", "Index", "Departments")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Course
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Course", "Create", "Courses")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Teacher
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Teacher", "Create", "Teachers")</li>
                            <li>@Html.ActionLink("Course Assign/UnAssign", "Create", "AssignCourses")</li>
                            <li>@Html.ActionLink("View Statistics", "ViewCourseStatistics", "AssignCourses")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Student
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "Create", "Students")</li>
                            <li>@Html.ActionLink("Enroll Course", "Create", "EnrollCourses")</li>
                            <li>@Html.ActionLink("Save Result", "SaveResult", "EnrollCourses")</li>
                            <li>@Html.ActionLink("View Result", "ViewResult", "EnrollCourses")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Classroom
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Allocate/UnAllocate Classroom", "Create", "AllocatedClassrooms")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            View All Info
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                            <li>@Html.ActionLink("Assigned Courses", "Index", "AssignCourses")</li>
                            <li>@Html.ActionLink("Teachers", "Index", "Teachers")</li>
                            <li>@Html.ActionLink("Students", "Index", "Students")</li>
                            <li>@Html.ActionLink("Allocated Classrooms", "Index", "AllocatedClassrooms")</li>
                            <li>@Html.ActionLink("Enrolled Courses", "Index", "EnrollCourses")</li>
                        </ul>
                    </li>




                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Daffodil International University Course and Result Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
